@page "/"

<Validation @bind-Status="validationStatus" Validator="ValidationRule.IsNotEmpty">
  <TextEdit @bind-Text="text">
    <Feedback>
      <ValidationError>Error Message</ValidationError>
    </Feedback>
  </TextEdit>
</Validation>

<Button Color="Color.Primary" Clicked="Fetch">Fetch</Button>

@code {
  private ValidationStatus validationStatus = ValidationStatus.None;
  private string text;

  private async Task Fetch()
  {
    await Task.CompletedTask;

    validationStatus = ValidationStatus.Error;
  }

  public class DummyHandler : IValidationHandler
  {
    public void Validate(IValidation validation, object newValidationValue)
    {
    }
  }
}
